.cards{
    margin: 0 auto;
    padding: 0;
    width: 920px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
}

.cards-item{
    list-style-type: none;
}

.item-title{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.15em;
}

.item-text{
    margin: 16px 0 0;
    font-size: 18px;
    line-height: 23px;
}

