.header{
    padding: 40px 60px;
    background-color: #F2F2F2 ;
}

.header__wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__container{
    width: min-content;

}

.header__title{
    margin: 240px 0 180px;
    font-size: 98px;
    line-height: 1.15em;
    font-weight: 600;
}

.header__text{
    max-width: 460px;
    font-size: 18px;
    line-height: 23px;
}

.header__animate{
    width: 600px;
    height: 600px;
    position: relative;
    background: #2F80ED;
    animation: rotation 20s linear 0s infinite;
}

@keyframes rotation {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}