.header{

}

.header__wrapper{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__title{
    font-size: 98px;
    line-height: 1.15em;
    font-weight: 600;
}

.header__text{
    font-size: 18px;
    line-height: 23px;
}

.header__animate{
    width: 600px;
    height: 600px;
    justify-content: center;
    background: #2666BE;
}